/*make of grid*/
.container{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 80px*50px;
}
.top{
    grid-column: 1/4;
}
.mid{
    grid-column: 2/4;
    background-color: blue;
}
.bottom{
    grid-column: 1/4;
}

/* Edit menu*/
body {
    background-image: url("https://via.placeholder.com/150/300AAA");
    background-position: center;
    background-size: 50%;
}