/*make of grid*/
/* .container{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 80px*50px;
}
.top{
    grid-column: 1/5;
}
.mid{
    grid-column: 3/5;
}
.bottom{
    grid-column: 1/5;
} */


/* Edit menu*/
* {
    margin: 0px;
    padding: 0px;
  }
  
  ul,
  ol,
  li {
    list-style: none;
  }
body {
    width: 100vw;
    background-repeat: no-repeat;
    /* background-position: center; */
}
/* banner */
#banner {position: relative; width: 100vw; margin: 0 auto; text-align: center; overflow: hidden; height: 40vw;}
#banner img {width: 100vw; display: block;}
#banner h2 {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: rgba(255,255,255,0.5);
    border-radius: 25px;
    padding: 10px 30px;
}
.mid{
    margin-bottom: 10px;
}
/* slider */
.slider {position: relative;}
.slider > div {position: absolute; left: 0; top: 0;}
.slider > div img {width: 100%;}
.slideList {position: relative; width: 300vw;}
.slideList .slideImg {float: left; width: 100vw;}

.menuP{
    /* font-weight: bold; */
    font-size: 30px;
}
.menuDiv{
    text-align: center; 
    margin-top: 150px; 
    margin-bottom: 150px;
}
video{
    width: 50vw;
    margin-top:10px;
    margin-bottom: 20px;
}

.menuDiv h1{
    font-size: 40px;
}
.dot:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .dot {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
  }
  
  .dot>li {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    text-indent: -9999px;
    cursor: pointer;
  }
  
  .dot>li.on {
    background-color: #342f2f;
  }
  
  .prev {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    cursor: pointer;
  }
  
  .next {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    cursor: pointer;
  }
@media screen and (max-width: 968px){
    .menuP{
        font-size: 16px;
    }
    .menuPt{
        font-size: 13px;
    }
    .menuDiv h1{
        font-size: 25px;
    }
    .menuDiv video{
        width: 70%;
        height: 55%;
    }
    .menuDiv{
        margin-top: 20%
    }
}