* {margin:0;padding: 0;box-sizing: border-box;}
ul,li{list-style: none;}

[name="slide"] {display: none;}
.slidebox {max-width:1000px;width:100%;margin:0 auto;}
.slidebox img {max-width: 100%;}
.slidebox .slidelist{
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}
.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}
.slidebox .slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}
label.left {
    left: 20px;
    background-color: #5F5F5F;
    background-image:url('./main_image/right-arrow.jpg');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}
label.right{
    right: 20px;
    background-color: #5F5F5F;
    background-image: url('./main_image/left-arrow.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

