/* 전체 오른쪽으로 띄우기 */
.cans{
    margin-left: 15%;
}

/* 캔 배출방법 왼쪽 정렬 */
.cans-ul-0{
  text-align: left;
}

/* tip제목 글자 색 변경 */
#tip{
  color: crimson;
}

/* 수평선 */
#canmetalhr{
    width: 75%;
}

/* 고철 */

.canskinds{
  text-align: center;
}

/* 전체 오른쪽으로 띄우기 */
.metal{
    margin-left: 13%;
}

/* 고철 배출방법 왼쪽 정렬 */
.metal-ul-0{
  text-align: left;
}

/* 모아보기 제목 센터 */
#cansh32{
  text-align: center;
}

/* 모아보기 전체 오른쪽 여백 및 글자 왼쪽 정렬 */
.cans-ul{
  text-align: left;
  display: inline-block;
  margin-right: 15%;
}

/* 모아보기 눌렀을 때 색과 커서 포인터 */
.cans-li-1:hover{
  color: cadetblue;
  cursor: pointer;
}
.cans-li-2:hover{
  color: cadetblue;
  cursor: pointer;
}
.cans-li-3:hover{
  color: cadetblue;
  cursor: pointer;
}
.cans-li-4:hover{
  color: cadetblue;
  cursor: pointer;
}

/* 줄어들었을 때 세로정렬 하는 방법 */
@media screen and (max-width: 768px) {

  .cans{
    margin-right: 13%;
  }

  .metal{
    margin-right: 13%;
  }

  .canskinds{
    text-align: center;
  }
}