.menu{
  text-align: center;
  float: left;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 10px;
  /* br크기 조절 */
  line-height:170%
}

.divider{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    height: 400px;
    width: 0.03px;
    background-color: grey;
    float: left;
}

.menu a:hover{
background-color: #63995a;
}

#d{
  margin-top: 30px;
}

@media screen and (max-width: 768px) {

  /* 줄어들었을 때 세로정렬 하는 방법 */
  /* .menu{
    float: bottom;
  }
  .divider{
    float: top;
    height: 0.3px;
    width: 400px;
  }
  #d{
    float: top;
  } */
 
}