/* 제목 효과 */
.highlight {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
/* 전체 조절 */
.menu{
  position: absolute;
  text-align: center;
  float: left;
  /* br크기 조절 */
  line-height:170%;
}

.temp{
  padding-left: 20px;
  padding-right: 20px;
  border-right: solid 1px gray;
}

#d{
  margin-left: 6%;
  float: left;
}

/* 메뉴 글자 갖다댈 때 밑줄 */
.underline {
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #5b8a53;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline:hover:after { 
  width: 100%; 
  left: 0; 
}

/* 분리수거 메인 화면 */
.maincontentsul{
  text-align: left;
  
}

/* 전체 오른쪽으로 띄우기 */
.base{
  margin-left: 15%;
}

/* 플라스틱 배출방법 왼쪽 정렬 */
.base-ul-0{
  text-align: left;
}

/* tip제목 글자 색 변경 */
#tip{
  color: crimson;
}

/* tip안 p 글자 색 변경 */
#summarytip{
  color: rgb(82, 81, 81);
}

/* details 안 글 오른쪽으로 살짝 이동 */
p{
  margin-left: 2%;
}

/* details 눌렀을 때 커서 변경 */
summary{
  cursor: pointer;
}

/* 수평선 */
#basehr{
  width: 75%;
}

.separate{
  width: 100px;
  height: 100px;
}

.logoimg{
  text-align: center;
  cursor: pointer;
}

/* 줄어들었을 때 세로정렬 하는 방법 */
@media screen and (max-width: 768px) {

  .menu{
    position: relative;
    width: 100vw;
  }

  .temp{
    padding-bottom: 20px;
    border-right: none;
    border-bottom: solid 1px gray;
  }

  .base{
    margin-right: 15%;
  }

  .basekinds{
    margin-right: 3%;
  }
 
}