/* 전체 오른쪽으로 띄우기 */
.general1{
    margin-left: 15%;
}

/* 일반쓰레기 배출방법 왼쪽 정렬 */
.general-ul-1{
    text-align: left;
}

/* 벌금 글자 색 */
#money{
    color: crimson;
}

/* details 눌렀을 때 커서 변경 */
summary{
    cursor: pointer;
}

/* 일반쓰레기 details 한칸 띄우기 */
.generaldetails{
    margin-left: 2.5%;
}

/* details 안 글 오른쪽으로 살짝 이동 */
p{
    margin-left: 2%;
}

/* 모아보기 제목 센터 */
#generalh3{
    text-align: center;
}

/* 수평선 */
#generalhr{
    width: 75%;
}

/* 모아보기 전체 오른쪽 여백 및 글자 왼쪽 정렬 */
.general-ul{
    text-align: left;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

/* 모아보기 전체 중간 정렬 */
.general-ul-2{
    text-align: center;
}

/* 모아보기 눌렀을 때 색과 커서 포인터 */
.general-li-2:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-3:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-4:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-5:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-6:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-7:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-8:hover{
    color: cadetblue;
    cursor: pointer;
}

/* 글자 밑줄 애니메이션 */
.to-right-underline{
    position: relative;
}
.to-right-underline:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #5b8a53;
}
.to-right-underline:hover:after{
    width: 100%;
    opacity: 1;
}

/* 줄어들었을 때 세로정렬 하는 방법 */
@media screen and (max-width: 768px) {

    .general1{
        margin-right: 15%;
    }
   
}