.general1{
    margin-left: 13%;
}

/* #generalh3{
    text-align: center;
} */

.general-ul-1{
    text-align: left;
}

.generalkindsall{
    text-align: center;
}

.general-ul{
    text-align: left;
}

.general-ul-2{
    display: inline-block;
    margin-left: 2%;
    margin-right: 4%;
}
.general-ul-3{
    display: inline-block;
    margin-right: 4%;
}
.general-ul-4{
    display: inline-block;
    margin-right: 4%;
}
.general-ul-5{
    display: inline-block;
    margin-right: 4%;
}
.general-ul-6{
    display: inline-block;
    margin-right: 4%;
}
.general-ul-7{
    display: inline-block;
    margin-right: 4%;
}
.general-ul-8{
    display: inline-block;
    margin-right: 4%;
}

summary{
    cursor: pointer;
}

#money{
    color: crimson;
}

#generalhr{
    width: 75%;
}

.to-right-underline{
    position: relative;
  }
  .to-right-underline:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #5b8a53;
  }
  .to-right-underline:hover:after{
    width: 100%;
    opacity: 1;
  }

  .highlight {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }


.general-li:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-3:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-4:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-5:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-6:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-7:hover{
    color: cadetblue;
    cursor: pointer;
}
.general-li-8:hover{
    color: cadetblue;
    cursor: pointer;
}

.source{
    text-align: center;
    font-size: xx-small;
}

@media screen and (max-width: 768px) {

    /* 줄어들었을 때 세로정렬 하는 방법 */
  
    .general1{
      text-align: left;
      margin-left: 20%;
    }
   
  }