:root {
    --text-color: #86A614;
    --backgroun-color: #D6D979;
    --accent-color: #567317;
  }
  
  body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Source Sans Pro";
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroun-color);
    padding: 8px 12px;
  }
  
  .header_logo {
    font-size: 24px;
    color: var(--text-color);
  }
  
  .header_logo i {
    color: var(--accent-color);
  }
  
  .header_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  
  .header_menu li {
    padding: 8px 12px;
  }
  
  .header_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
  }
  
  .search_icon {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
  }
  
  .search_icon li {
    padding: 8px 4px;
  }
  
  .header_search {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
  }
  
  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
    }
  
    .header_menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .header_menu li {
      width: 100%;
      text-align: center;
    }
  
    .search_icon {
      display: none;
      justify-content: center;
      width: 100%;
    }
  
    .header_search {
      display: block;
    }
  
    .header_menu.active,
    .nheader_icons.active {
      display: flex;
    }
  }

    /* footer.html */

    .py-5{
    
        background-color: blanchedalmond;
      }
      .col-md{
        display: inline-block;
        height: 200px;
        margin-right: 50px;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      ul{
        list-style: none;
      }
      h5{
        position: relative;
        left: 40px;
      }