/* 제목 효과 */
.highlight {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

/* 전체 오른쪽으로 띄우기 */
.paper{
  margin-left: 13%;
}

/* 비닐 배출방법 왼쪽 정렬 */
.paper-ul-0{
  text-align: left;
}

/* tip제목 글자 색 변경 */
#tip{
  color: crimson;
}

/* tip안 p 글자 색 변경 */
#summarytip{
  color: rgb(82, 81, 81);
}

/* details 안 글 오른쪽으로 살짝 이동 */
p{
  margin-left: 2%;
}

/* details 눌렀을 때 커서 변경 */
summary{
  cursor: pointer;
}

/* 비닐로 배출하면 안되는 품목 details 한칸 띄우기 */
.paperdetails{
  margin-left: 4%;
}

/* 수평선 */
#paperhr{
  width: 75%;
}

/* 모아보기 제목 센터 */
#paperh32{
  text-align: center;
}

/* 모아보기 전체 오른쪽 여백 및 글자 왼쪽 정렬 */
.paper-ul{
  display: inline-block;
  text-align: left;
  margin-right: 15%;
}

/* 모아보기 전체 중간 정렬 */
.paper-ul-1{
  text-align: center;
}

/* 모아보기 눌렀을 때 색과 커서 포인터 */
.paper-li-1:hover{
  color: cadetblue;
  cursor: pointer;
}
.paper-li-2:hover{
  color: cadetblue;
  cursor: pointer;
}
.paper-li-3:hover{
  color: cadetblue;
  cursor: pointer;
}

/* 줄어들었을 때 세로정렬 하는 방법 */
@media screen and (max-width: 768px) {
  
    .paper{
      text-align: left;
      margin-left: 20%;
    }

    .paper-ul{
      display: inline-block;
      text-align: left;
      margin-right: 14%;
    }
   
  }