.highlight {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.paper{
    margin-left: 13%;
}

#paperh32{
    text-align: center;
}

.paper-ul-0{
  text-align: left;
}

.paper-ul-1{
  text-align: center;
}

.paper-ul{
  display: inline-block;
  text-align: left;
  margin-right: 15%;
}

#tip{
  color: crimson;
}
#summarytip{
  color: rgb(82, 81, 81);
}


.to-right-underline{
    position: relative;
  }
  .to-right-underline:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #5b8a53;
  }
  .to-right-underline:hover:after{
    width: 100%;
    opacity: 1;
  }

  .paper-li-1:hover{
    color: cadetblue;
    cursor: pointer;
  }
  .paper-li-2:hover{
    color: cadetblue;
    cursor: pointer;
  }
  .paper-li-3:hover{
    color: cadetblue;
    cursor: pointer;
  }
