.highlight {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

p{
    margin-left: 2%;
}

.plasticdetails{
    margin-left: 4%;
}

.plastic{
    margin-left: 13%;
}

#plastich32{
    text-align: center;
}

.plastic-ul-0{
  text-align: left;
}

#tip{
  color: crimson;
}

summary{
    cursor: pointer;
}

#summarytip{
    color: rgb(82, 81, 81);
}

.plastickindsall{
    text-align: center;
}

#plastichr{
    width: 75%;
}

.plasticul{
    text-align: center;
}

.plastic-ul{
    display: inline-block;
    margin-right: 10%;
}
.plastic-ul-1{
    text-align: center;
}
  
.plastic-li-1:hover{
    color: cadetblue;
    cursor: pointer;
}
.plastic-li-2:hover{
    color: cadetblue;
    cursor: pointer;
}
.plastic-li-3:hover{
  color: cadetblue;
    cursor: pointer;
}
.plastic-li-4:hover{
    color: cadetblue;
    cursor: pointer;
}

.to-right-underline{
    position: relative;
  }
  .to-right-underline:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #5b8a53;
  }
  .to-right-underline:hover:after{
    width: 100%;
    opacity: 1;
  }