/* 전체 오른쪽으로 띄우기 */
.plastic{
    margin-left: 15%;
}

/* 플라스틱 배출방법 왼쪽 정렬 */
.plastic-ul-0{
    text-align: left;
}

/* tip제목 글자 색 변경 */
#tip{
    color: crimson;
}

/* tip안 p 글자 색 변경 */
#summarytip{
    color: rgb(82, 81, 81);
}

/* details 안 글 오른쪽으로 살짝 이동 */
p{
    margin-left: 2%;
}
 
/* details 눌렀을 때 커서 변경 */
summary{
    cursor: pointer;
}

/* 플라스틱종류 details 한칸 띄우기 */
.plasticdetails{
    margin-left: 4%;
}

/* 수평선 */
#plastichr{
    width: 75%;
}

/* 모아보기 제목 센터 */
#plastich32{
    text-align: center;
}

/* 모아보기 전체 오른쪽 여백 및 글자 왼쪽 정렬 */
.plastic-ul{
    text-align: left;
    display: inline-block;
    margin-right: 10%;
}

/* 모아보기 전체 중간 정렬 */
.plastic-ul-1{
    /* text-align: center; */
    margin-right: 8%;
}
  
/* 모아보기 눌렀을 때 색과 커서 포인터 */
.plastic-li-1:hover{
    color: cadetblue;
    cursor: pointer;
}
.plastic-li-2:hover{
    color: cadetblue;
    cursor: pointer;
}
.plastic-li-3:hover{
  color: cadetblue;
    cursor: pointer;
}
.plastic-li-4:hover{
    color: cadetblue;
    cursor: pointer;
}

/* 글자 밑줄 애니메이션 */
.to-right-underline{
    position: relative;
}
.to-right-underline:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #5b8a53;
}
.to-right-underline:hover:after{
    width: 100%;
    opacity: 1;
}

/* 줄어들었을 때 세로정렬 하는 방법 */
@media screen and (max-width: 768px) {
  
    .plastic{
        margin-right: 15%;
    }

    .plastic-ul{
        margin-left: 7%;
    }

    #sdf{
        float: none;
        width: 450px;
        height: 341px;
    }
  
    .plasticup{
        margin-left: -280px;
        margin-top: 380px;
    }
  
    .mediaup{
        margin-top: -35px;
    }
   
}