/* search1
.searchbox{
    padding: 10px;
    position: absolute;
    top: 20%;
    right: 4.5%;
    height: 20px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
    transition: 0.4s;
    width:20px;
    }
    .searchbox:hover{
    box-shadow: 0px 0px .5px 1px black;
    width: 282px;
    }
    .search-btn{
    text-decoration: none;
    float: right;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    }
    .searchbox:hover > .search-btn{
    background-color: #fff;
    }
    .container{
        visibility: hidden;
    }
    .searchbox:hover > .container{
        visibility: visible;
    }
    .search-txt{
    display: flex;
    padding: 0;
    width: 0px;
    border:none;
    background: none;
    outline: none;
    float: left;
    font-size: 1rem;
    line-height: 20px;
    transition: .4s;
    }
    .searchbox:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
    }
    
    img{
        margin-top: 5px;
        width: 25px;
        height: 25px;
    } */