/* grid */
.wrapper{
  display: grid;
  grid-template-columns: 200px;
  /* grid-template-rows: 80px * 50px; */
}
.one {
  grid-column: 1 / 5;
}
.two {
  background-color: #567317;
  grid-column: 1/2;
}
.three {
  background-color: #BFAC95;
  grid-column: 2 / 5;
}
.four {
  grid-column: 1 / 5;
}
@media only screen and (max-width: 720px){
  .two {
   grid-column: 1 / 5;
   grid-row: 2 / 3;
  } 
  .three {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }
  
}

  /* contents.html */

  .up{
    position: absolute;
    right: 5px;
  }
