/* 제목 효과 */
.highlight {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

/* 전체 오른쪽으로 띄우기 */
.base{
    margin-left: 15%;
}

/* 플라스틱 배출방법 왼쪽 정렬 */
.base-ul-0{
    text-align: left;
}

/* tip제목 글자 색 변경 */
#tip{
    color: crimson;
}

/* tip안 p 글자 색 변경 */
#summarytip{
    color: rgb(82, 81, 81);
}

/* details 안 글 오른쪽으로 살짝 이동 */
p{
    margin-left: 2%;
}
 
/* details 눌렀을 때 커서 변경 */
summary{
    cursor: pointer;
}

/* 수평선 */
#basehr{
    width: 75%;
}

.separate{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.logoimges{
    margin-left: 21%;
}

.logoimg{
    float: left;
    cursor: pointer;
}

.can, 
.can1{
    height: 130px;
    padding-bottom: 25px;
}

.plastic{
    height: 130px;
}


/* 줄어들었을 때 세로정렬 하는 방법 */
@media screen and (max-width: 768px) {
  
    .base{
        margin-right: 15%;
    }

    .basekinds{
        margin-right: 4%;
    }
   
}