/* body{
    margin-left: 13%;
  }
  .searchbox{
    width: 90%;
    margin: 10px auto;
  }
  .header{
    background: #ECDFBF;
    overflow: hidden;
    padding: 20px;
    text-align: center;
  }
  .header h1{
    text-transform: uppercase;
    color: white;
    margin: 0;
    margin-bottom: 8px;
  }
  #value{
    border: none;
    background: #E0D3B6;
    padding: 6px;
    font-size: 18px;
    width: 80%;
    border-radius: 6px;
    color: white;
  }
  #value:focus{
    outline: none;
  }
  .container{
    background: #FFFFF5;
    padding: 1%;
  }
  .item{
    margin: 3% 0px;
    display: flex;
    align-items: center;
  }
  .icon{
    width: 25px;
    height: 25px;
    background: #E0D3B6;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    margin-right: 8px;
  }
  .name{
    font-size: 17px;
    font-weight: 470;
    color: #333;
  } */