/* 제목 효과 */
.highlight {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

/* 전체 오른쪽으로 띄우기 */
.totality{
  margin-left: 15%;
}

.total-consonant{
  text-align: center;
}

.dic-consonant{
  font-size: large;
  margin-left: 1%;
  margin-right: 1%;
}

#totalh1{
  text-align: left;
  margin: 0%;
  /* margin-bottom: 1%; */
}

#total-span{
  text-align: center;
}

/* 수평선 */
#totalhr{
  width: 63%;
}

.total-vowel{
  font-size: medium;
  text-align: left;
}

/* 모아보기 전체 오른쪽 여백 및 글자 왼쪽 정렬 */
.total-ul{
  text-align: left;
  display: inline-block;
  margin-right: 3%;
}


/* 줄어들었을 때 세로정렬 하는 방법 */
@media screen and (max-width: 768px) {

  .total{
      margin-right: 15%;
  }
 
}