.highlight {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

p{
    margin-left: 2%;
}

.vinyldetails{
    margin-left: 4%;
}

.vinyl{
    margin-left: 13%;
}

#vinylh32{
    text-align: center;
}

.vinyl-ul-0{
  text-align: left;
}

#tip{
  color: crimson;
}

summary{
    cursor: pointer;
}

#summarytip{
    color: rgb(82, 81, 81);
}

.vinylkindsall{
    text-align: center;
}

#vinylhr{
    width: 75%;
}

.vinylul{
    text-align: center;
}

.vinyl-ul{
    display: inline-block;
    margin-right: 12%;
}
.vinyl-ul-1{
    text-align: center;
}
  
.vinyl-li-1:hover{
    color: cadetblue;
    cursor: pointer;
}
.vinyl-li-2:hover{
    color: cadetblue;
    cursor: pointer;
}


.to-right-underline{
    position: relative;
  }
  .to-right-underline:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #5b8a53;
  }
  .to-right-underline:hover:after{
    width: 100%;
    opacity: 1;
  }

@media screen and (max-width: 768px) {

    /* 줄어들었을 때 세로정렬 하는 방법 */
  
    .vinyl{
      text-align: left;
      margin-left: 20%;
    }

    .vinyl-ul{
        display: inline-block;
        margin-left: 8%;
        margin-right: 15%;
    }
   
}