
/* grid */
.wrapper{
    display: grid;
    grid-template-columns: 200px;
  }
  .one {
    grid-column: 1 / 4;
  }
  .two {
    background-color: #BFAC95;
    grid-column: 2 / 4;
  }
  .three {
    grid-column: 1 / 4;
  }
  @media only screen and (max-width: 720px){
    .two {
      grid-column: 1 / 4 ;
      grid-row: 3 / 4;
    }
    
  }


  