@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
body{
  font-family: Gowun Batang;
}
/*make of grid*/
#wrap{
  font-size: 20px;
  overflow:  hidden;
  text-align: center;
  padding-top: 45px;
}
#wrap a{
  text-decoration: none; color: rgb(59, 146, 56);
  
}

/* #wrap a:visited{color: rgb(23, 223, 70); text-decoration: underline;} */
#wrap a:hover{color:rgb(100, 206, 70); text-decoration: none;}
#wrap div{
  display: inline-block;
  text-align: center;
}
.b div{
  padding: 20px;
  
}
#wrap img{
    width:200px; height:200px;
}
  
.inf{
  margin: 0;
  font-size: 15px;
}
  .box {
    border-radius: 5px;
    padding: 20px;
    width: 270px;
    height: 400px;
    
  }

  
.Ex h1{
  font-size: 50px;
}
.Ex p{
  font-size: 17px;


}
.red{
  color: rgb(212, 69, 69);
}

.link{
  color: rgb(60, 185, 108);
  
}

.Ex{
  text-align: center;
}

.point{
  color: rgb(214, 73, 73);
}
hr{
  margin-top: 3%;
  width: 75%;
}
.stitle{
  text-align: center;
  margin-top: 2%;
  font-size: 20px;
}