@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
body{
  font-family: Gowun Batang;
  margin-left: 0px;
  margin-right: 0px;
}
.title{
  text-align: center;
}
.stitle{
  text-align: center;
  margin-left: 0px;
}
.red{
  color: rgb(212, 69, 69);
}
.link{
  text-decoration-line: none;
  color:rgb(59, 146, 56);
}
.link:hover{
  border-bottom:2px solid rgb(59, 146, 56); 
  padding-bottom:1px;
}
.s{
  margin-top: 3%;
  margin-bottom: 3%;
  width: 75%;
}
.ss{
  margin-top: 3%;
  margin-bottom: 3%;
  width: 95%;
}
.swiper-slide img{
  width:200px; 
  height:200px;
  margin-top: 5%;
}
.inf{
  margin: 0;
  font-size: 15px;
}
.swiper-slide a{
  font-size: 20px;
  color:rgb(59, 146, 56);; text-decoration: none;
}
.swiper-slide{
  text-align: center;
  margin-bottom: 3%;
}