@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
body{
  font-family: Gowun Batang;
}
/*make of grid*/
#wrap{
  font-size: 20px;
  overflow:  hidden;
  text-align: center;
  padding-top: 45px;
}
#wrap a{
  text-decoration: none; color: rgb(59, 146, 56);
}

/* #wrap a:visited{color: rgb(23, 223, 70); text-decoration: underline;} */
#wrap a:hover{color:rgb(100, 206, 70); text-decoration: none;}
#wrap div{
  display: inline-block;
  text-align: center;
}
.b div{
  padding: 20px;
  
}
#wrap img{
    width:200px; height:200px;
}
  
.inf{
  margin: 0;
  font-size: 15px;
}
  .box {
    border-radius: 5px;
    padding: 20px;
    width: 270px;
    height: 400px;
    
  }
  
  /* u_info_menu */
.Ex h1{
  font-size: 50px;
}
.Ex p{
  font-size: 17px;
  margin: 0.5%;
  margin-left: 30px;
}
.red{
  color: rgb(212, 69, 69);
}
.back{
  margin-left: 100px;
}

.link{
  color: rgb(60, 185, 108);
  
}

.Ex{
  text-align: center;
  margin-right: 10%;
  
}

.Ex h3{
  font-size: 30px;
  margin-left: 45%;
  width: 150px;
}

.Ex h3:hover{
  background-color: rgba(118, 170, 117, 0.575);
}

